<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/backgroundLight.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Device Security</h1>
            <h3>How to keep your device safe</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=-ni_PWxrsNo" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>5 Quick Tips</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">How can you secure your device? Why is it important?</h2>
                <h5 class="description">Our phones and other devices are amazing tools that help us live in todays fast paced world. Our devices contain a lot of personal data that if stolen could give others access to our personal bank accounts, emails, work emails, social media account and more. This can lead to you identity being stolen. It is so important that we understand what kind of information our devices store about us and how to protect it.</h5>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/one.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Phyically Protect it!</h3>
                        <br />
                        <p>Don't leave your phone, laptop, or tablet out in public, especially where anyone could walk by and take it.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/two.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Use Two Factor Authentication</h3>
                        <br />
                        <p>Two factor authentication means that when you login to a account, it has you verify your identiy by entering a code sent to your phone number or email.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/three.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Use Biometric Authentication</h3>
                        <br />
                        <p>This is like two factor authentication, but it uses your Face ID or fingerprint to verify identity.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/four.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Never Share Your Passwords</h3>
                        <br />
                        <p>This should be obvious, however - NEVER give our your password! You can't trust what someone else will do with it.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/five.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Keep Your Device Up To Date</h3>
                        <br />
                        <p>Keep your device running on the latest operating system, this will keep your device protected and make it more difficult to hack.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/six.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Be Suspicious</h3>
                        <br />
                        <p>Avoid clicking on links that look suspicious. Hackers will try to trick you with authentic looking fakes. If you get a strange text or email from your bank or other account, don't be afraid to call them and ask about it.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/seven.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Back-Up Your Device</h3>
                        <br />
                        <p>Have your device backed up, for an Apple device you can use iCloud or for Android you can use Google One.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div>
                        <img src="assets/img/eight.png" alt="">
                    </div>
                    <div class="description">
                        <h3 class="info-title">Use a VPN</h3>
                        <br />
                        <p>A VPN is a service that protects your personal data while you are on a public Wi-Fi. Some great ones are NordVPN, ProtonVPN, and Atlas.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">If You Are Hacked!</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://support.apple.com/en-us/HT204145"><img src="./assets/img/appleS.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Apple Devices</h4>
                                <h6 class="card-category">If you do get hacked</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                       If you do end up getting hacked, click the apple above. It will give you a guide to follow. Click the i icon below if you need more help. 
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://www.wikihow.com/Remove-a-Hacker-from-Your-iPhone" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-info-circle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://support.google.com/accounts/answer/6294825?hl=en"><img src="./assets/img/androidS.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Android Devices</h4>
                                <h6 class="card-category">If your account is hacked</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            If you do end up getting hacked, click the android above. It will give you a guide to follow. Click the i icon below if you need more help. 
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://veepn.com/blog/how-to-fix-a-hacked-android-phone/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-info-circle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="./assets/img/socialS.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Social Media Hacked</h4>
                                <h6 class="card-category">If social media account is hacked.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        If your twitter, instagram or facebook account is hacked click the corresponding icon below to find out what steps you need to take!
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://help.twitter.com/en/safety-and-security/twitter-account-hacked" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://help.instagram.com/368191326593075" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/help/1216349518398524" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>