<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/backgroundPink.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/lighting.png" alt="">
                    </div>
                    <h1 class="pres
                    entation-title">Empowroar</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Educating You About Technology Safety</h2>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto">With interactive quizes, data and tips to keep your device safe
        </h6>
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Quiz Yourself</h3>
                          <h3><small>Take our quiz to see how tech savvy and safe you are.</small></h3>
                          <br />
                          <a href="..#/user-profile">
                          <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banQuizOne.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banQuizTwo.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banQuizThree.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        </a>
                      </div>

                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Cyberbullying</h3>
                          <h3><small>Identifying cyberbullying - how to heal from it and how to prevent it.</small></h3>
                          <br />
                          <a href="..#/landing">
                          <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banKindOne.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banKindTwo.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banKindThree.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        </a>
                      </div>
                  </div>
              </div>
              <br/>
              <div class="row">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Secure Your Device</h3>
                          <h3><small>How familiar are you with your device? Learn more about how</small></h3>
                          <br />
                          <a href="..#/device">
                          <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banSecOne.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banSecTwo.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banSecThree.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                            </a>
                      </div>

                  </div>

                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Community</h3>
                          <h3><small>Be apart of the community, share your tips and tricks on staying safe.</small></h3>
                          <br />
                          <a href="..#/signup">
                          <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banCommOne.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banCommTwo.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/banCommThree.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Register</h2>
                        <p class="description">Contribute to the community!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/warmOrange.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <div class="social-line text-center">
                            </div>
                            <form class="register-form">
                                <label>Email</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                  </div>

                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                                </div>

                                <label>Password</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                  </div>
                                    <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
